// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
$black: hsl(212, 21%, 14%);
$grey: hsl(228, 12%, 48%);
$cream: hsl(30, 38%, 92%);
$white: #ffffff;

$lightGreen: hsl(158, 36%, 37%);
$darkGreen: hsl(158, 42%, 18%);

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $cream;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
}

.product-card{
    display: flex;
    width: 40vw;
    border-radius: 10px;
    background-color: $white;

    .product-card-info{
        width: 50%;
    }
    .product-card-wrapper{
        padding: 10%;
    }
    .product-card-image{
        width: 50%;
    }
    .product-card-product-name{
        font-size: 3rem;
        margin: 0;
        color: $black;
        line-height: 0.9;
        padding: 0;
        font-family: "Fraunces", sans-serif;
    }
    .product-card-category{
        font-size: 0.8rem;
        color: $grey;
        margin-bottom: 20px;
        letter-spacing: 5px;
        padding: 30px 0;
        margin: 0;
        font-weight: 500;
    }
    .product-card-image img{
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 100%;
    }
    .product-card-description{
        font-size: 14px;
        color: $grey;
        margin-bottom: 20px;
        padding:0;
        line-height: 2;
    }
    .product-card-price{
        padding: 0;
        display: flex;
        align-items: center;
    }
    .product-card-price-current{
        color: $lightGreen;
        font-size: 3rem;
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
    }
    .product-card-price-original{
        padding-left: 20px;
    }
    .product-card-btn{
        margin-top: 30px;
        width: 100%;
        background-color: $lightGreen;
        color: $white;
        border-radius: 10px;
        padding: 20px;
        font-size: 18px;
        border: none;
    }
    .svg{
        margin-right: 10px;
    }
}